<div class="grid grid-cols-3 gap-8">
  <app-product (addToCart)="fromChild($event)" [price]="20" img="https://picsum.photos/640/640?r=23"
               title="Producto 1"/>
  <app-product [price]="30" img="https://picsum.photos/640/640?r=24" title="Producto 2"/>
  <app-product [price]="40" img="https://picsum.photos/640/640?r=25" title="Producto 3"/>
  <app-product [price]="50" img="https://picsum.photos/640/640?r=26" title="Producto 4"/>
  <app-product [price]="60" img="https://picsum.photos/640/640?r=27" title="Producto 5"/>
  <app-product [price]="70" img="https://picsum.photos/640/640?r=28" title="Producto 6"/>
</div>
