<div class="relative inline-block text-center items-center w-full">
  <div>
    <button
      (click)="toggleDropdown()"
      aria-expanded="true"
      aria-haspopup="true"
      class="inline-flex rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      id="options-menu"
      type="button">
      Categories
      <svg aria-hidden="true" class="-mr-1 ml-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
              d="M5.293 9.293a1 1 0 011.414 0L10 12.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
              fill-rule="evenodd"/>
      </svg>
    </button>
  </div>

  @if (isDropdownOpen()) {
    <div
      aria-labelledby="options-menu"
      aria-orientation="vertical"
      class="absolute left-1/2 transform -translate-x-1/2 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
      role="menu">
      <div class="py-1" role="none">
        <ul>
          @for (category of categories(); track $index) {
            <li>
              <a routerLink="/" [queryParams]="{categoryId:category.id}">{{ category.name }}</a>
            </li>
          }
        </ul>
      </div>
    </div>
  }
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 w-full mt-5">
  @for (product of products(); track $index) {
    <app-product
      [product]="product"
      (addToCart)="addToCart(product)"
    />
  }
</div>
